In [6]:
from sqlalchemy import create_engine
from sqlalchemy.types import VARCHAR,Integer
engine = create_engine('mysql+mysqlconnector://root:sara_zhang@localhost:3306/suooter', echo=False)

In [7]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [8]:
rows = pd.read_sql('select * from he_nan limit 10;',engine)

In [13]:
for index, row in rows.items():
    print(index)

id
district
year
degree
category
school_name
discipline
score
rank
recruit_num_of_rank
recruit_num_total
lowest_score
lowest_score_rank
highest_score
highest_score_rank
average_score
school_code
discipline_code
round

In [24]:
District_PinYin_Map =  {
        '上海':'shang_hai','云南':'yun_nan','内蒙古':'nei_meng_gu','北京':'bei_jing',
        '吉林':'ji_lin','四川':'si_chuan','天津':'tian_jin','宁夏':'ning_xia','安徽':'an_hui',
        '山东':'shan_dong','山西':'shan_xi','广东':'guang_dong','广西':'guang_xi','新疆':'xin_jiang',
        '江苏':'jiang_su', '江西':'jiang_xi','河北':'he_bei','河南':'he_nan','浙江':'zhe_jiang',
        '海南':'hai_nan',  '湖北':'hu_bei','湖南':'hu_nan','甘肃':'gan_su','福建':'fu_jian',
        '西藏':'xi_zang',  '贵州':'gui_zhou','辽宁':'liao_ning','重庆':'chong_qing','陕西':'shann_xi',
        '青海':'qing_hai', '黑龙江':'hei_long_jiang'}
sql = "select distinct(`category`),`district` from prob_tian_jin"

In [32]:
for index, item in District_PinYin_Map.items():
    sql = "select distinct(`category`) as ca from prob_" + item
    try:
        df = pd.read_sql(sql,con=engine)
        if len(df)==1:
            print(index+df)
    except:
        print(index)

      ca
0  黑龙江理科
     ca
0  贵州理科
     ca
0  山东理科
     ca
0  四川理科
     ca
0  湖南理科
     ca
0  宁夏理科
     ca
0  辽宁理科
西藏
     ca
0  重庆理科
     ca
0  海南理科
     ca
0  青海理科
     ca
0  广东理科
     ca
0  新疆理科
     ca
0  甘肃文科
     ca
0  陕西理科
     ca
0  吉林理科

In [22]:
df = pd.read_sql(sql,con=engine)

In [23]:
print(df)

  category district
0       文科       天津
1       理科       天津